@use "../../utils/constants";

.about-page {
	.hero-section {
		background-image: url(../../assets/about-page/hero-bg.jpg);

		.hero-title {
			color: red;
			-webkit-text-stroke: 3px var(--clr-text-stroke);

			@media (max-width: constants.$mobile-width) {
				-webkit-text-stroke-width: 2px;
			}
		}
	}

	.dev-section {
		box-shadow: 0 0 70px 100px black;

		.content-wrapper {
			background: radial-gradient(
				50% 40% at 50% 50%,
				var(--clr-bg) 10%,
				95%,
				black
			);
			padding: 100px 0;

			@media (max-width: constants.$mobile-width) {
				background: radial-gradient(
					50% 51% at 50% 50%,
					var(--clr-bg) 10%,
					95%,
					black
				);
				padding: 50px 0;
			}
		}

		.container {
			@media (max-width: constants.$mobile-width) {
				gap: 50px;
			}
		}

		.profile-photo {
			border-radius: 50%;
			overflow: hidden;
			width: 40vw;

			@media (max-width: constants.$mobile-width) {
				width: 50vw;
			}
		}

		.socials {
			.image-container {
				width: 10vw;

				@media (max-width: constants.$mobile-width) {
					width: 20vw;
				}
			}

			.github {
				filter: invert(100%);
			}
		}
	}
}
