@use "../../utils/constants";

$animation-config: linear infinite;
$slideshow-image-count: 4;
$slideshow-image-width: 500px;
$section-padding-y: 100px;
$events-section-gap: 4rem;

.homepage {
	.hero-loader {
		z-index: 20;
		background-color: black;
		transform-origin: center top;
	}

	.hero-section {
		transform-style: preserve-3d;

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.7);
		}

		.logo {
			width: 35vmax;
			z-index: 5;

			@media (max-width: constants.$mobile-width) {
				width: 85vw;
			}
		}

		.title {
			opacity: 0.9;
			mix-blend-mode: difference;
			color: red;
			-webkit-text-stroke: 3px var(--clr-text-stroke);
		}

		.slideshow {
			position: absolute;
			z-index: -5;
			display: flex;
			width: calc($slideshow-image-width * $slideshow-image-count * 2);
			will-change: transform;

			.image-container {
				width: $slideshow-image-width;
				filter: grayscale(30%);
			}
		}

		.slideshow-top {
			animation: slideshow-top-anim 40s $animation-config;
		}

		.slideshow-bottom {
			top: 50%;
			// animation: slideshow-bottom-anim 180s $animation-config;
			animation: slideshow-bottom-anim 73s $animation-config;
		}

		@keyframes slideshow-top-anim {
			0% {
				transform: translate3d(0, 0, 0);
			}
			100% {
				transform: translate3d(
					calc($slideshow-image-count * $slideshow-image-width * -1),
					0,
					0
				);
			}
		}

		@keyframes slideshow-bottom-anim {
			0% {
				transform: translate3d(
					calc(
						($slideshow-image-count * $slideshow-image-width * -2) +
							($slideshow-image-width * 3)
					),
					0,
					0
				);
			}
			100% {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	.about-section {
		padding-top: $section-padding-y;
		padding-bottom: $section-padding-y;
		position: relative;
		box-shadow: 0 -70px 70px #000;

		.panel {
			overflow: hidden;
			will-change: transform;
			backface-visibility: hidden;
		}

		.info-text {
			position: relative;
			z-index: 1;
			font-weight: 500;
		}

		.about-wolfame {
			background-image: url(../../assets/home-page/wolfame.jpg);
		}

		.about-hall {
			background-image: url(../../assets/home-page/hall.jpg);
		}
	}

	.events-section {
		.event-list {
			display: flex;
			flex-direction: column;
			gap: $events-section-gap;
			padding: $events-section-gap 0;

			li {
				cursor: pointer;
			}
		}

		.events-swiper-container {
			transition: background-color 0.5s ease;
			height: 120vh;
			background-image: radial-gradient(
				100% 60% at 50% 50%,
				var(--clr-bg) 20%,
				var(--clr-bg-3) 50%,
				#000
			);

			@media (max-width: constants.$mobile-width) {
				height: 100vh;
			}
		}

		.events-swiper {
			user-select: none;
		}

		.swiper-pagination-bullet {
			background: rgb(197, 197, 197);
			opacity: 0.6;
		}

		.swiper-pagination-bullet-active {
			background: red;
			opacity: 1;
		}

		.event-slide {
			width: 80vw;
			height: 85vh;
			background-color: #343434;
			border-radius: 15px;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				z-index: 1;
				background-color: rgba(0, 0, 0, 0.477);
			}

			.card-text {
				z-index: 2;
			}
		}
	}

	.gallery-section {
		.gallery-images-wrapper {
			background-image: radial-gradient(
				100% 60% at 50% 50%,
				var(--clr-bg) 20%,
				var(--clr-bg-3) 50%,
				#000
			);
		}

		.gallery-images {
			padding-top: 100px;
			padding-bottom: 100px;
			gap: 5vw;

			@media (max-width: constants.$mobile-width) {
				padding-top: 0;
				padding-bottom: 50px;
			}
		}

		.gallery-image-column {
			gap: 5vh;

			@media (max-width: constants.$mobile-width) {
				gap: var(--container-padding-x);
			}
		}

		.column-1,
		.column-3 {
			.gallery-image {
				width: 20vw;
			}
		}

		.column-2 {
			.gallery-image {
				width: 30vw;

				@media (max-width: constants.$mobile-width) {
					width: 100%;
				}
			}
		}

		.gallery-image {
			border-radius: 10px;
			overflow: hidden;
		}
	}
}
