$animation-config: linear infinite;
$slideshow-image-count: 9;
$slideshow-image-width: 500px;

.hero-section {
	transform-style: preserve-3d;

	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.logo {
	width: 35vmax;
	z-index: 5;
}

.title {
	font-size: 10rem;
	font-weight: 800;
	opacity: 0.9;
	mix-blend-mode: difference;
}

.slideshow {
	position: absolute;
	z-index: -5;
	display: flex;
	width: calc($slideshow-image-width * $slideshow-image-count * 2);
	transform: translate3d(0, 0, 0);
	will-change: transform;

	.image-container {
		width: $slideshow-image-width;
		filter: grayscale(50%) blur(1px);
	}
}

.slideshow-top {
	animation: slideshow-top-anim 60s $animation-config;
}

.slideshow-bottom {
	top: 50%;
	animation: slideshow-bottom-anim 210s $animation-config;
}

@keyframes slideshow-top-anim {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(
			calc($slideshow-image-count * $slideshow-image-width * -1)
		);
	}
}

@keyframes slideshow-bottom-anim {
	0% {
		transform: translateX(-84%);
	}
	100% {
		transform: translateX(
			calc($slideshow-image-count * $slideshow-image-width)
		);
	}
}
