// dimensions
$mobile-width: 600px;

// colours
$clr-primary: hsla(358, 72%, 49%, 1);
$clr-primary-dark: hsla(358, 72%, 36%, 1);
$clr-primary-darker: hsla(358, 72%, 22%, 1);
$clr-primary-light: hsla(358, 72%, 65%, 1);
$clr-primary-lighter: hsla(358, 72%, 79%, 1);
$clr-bg: #6b0000;
$clr-bg-2: #4f0000;
$clr-bg-3: #330000;
$clr-text-stroke: rgb(255, 119, 119);

// font-sizes - $font-<tag>-<screen-size>
// lg
$font-h1-lg: 12vw;
$font-h2-lg: 7vw;
$font-h3-lg: 5vw;
$font-h4-lg: 3vw;
$font-h5-lg: 1.8vw;
$font-h6-lg: 1.4vw;
$font-p-lg: 1.1vw;
// sm
$font-h1-sm: 18vw;
$font-h2-sm: 15vw;
$font-h3-sm: 12vw;
$font-h4-sm: 10vw;
$font-h5-sm: 6vw;
$font-h6-sm: 4vw;
$font-p-sm: 5vw;

// others
$container-padding-x: 20px;
$container-max-width: 1200px;
