@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(27, 26, 26);
	color: white;
}

img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

button {
	all: inherit;
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
