@use "utils/constants";

@tailwind base;
@tailwind components;
@tailwind utilities;

$WOLFAME-shadow-position: 2px;
$WOLFAME-shadow-blur: 20px;
$WOLFAME-shadow: 0 $WOLFAME-shadow-position $WOLFAME-shadow-blur red,
	$WOLFAME-shadow-position 0 $WOLFAME-shadow-blur red,
	0 0 $WOLFAME-shadow-blur red,
	$WOLFAME-shadow-position $WOLFAME-shadow-position $WOLFAME-shadow-blur red;
$WOLFAME-rotation: 6deg;
$WOLFAME-scale: 1.3;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-color: red transparent;
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 0.3vw;
}

*::-webkit-scrollbar-thumb {
	background-color: red;
	border-radius: 100px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

:root {
	--clr-primary: #{constants.$clr-primary};
	--clr-primary-dark: #{constants.$clr-primary-dark};
	--clr-primary-darker: #{constants.$clr-primary-darker};
	--clr-primary-light: #{constants.$clr-primary-light};
	--clr-primary-lighter: #{constants.$clr-primary-lighter};
	--clr-bg: #{constants.$clr-bg};
	--clr-bg-2: #{constants.$clr-bg-2};
	--clr-bg-3: #{constants.$clr-bg-3};
	--clr-text-stroke: #{constants.$clr-text-stroke};
	--container-padding-x: #{constants.$container-padding-x};
	--container-max-width: #{constants.$container-max-width};
	--mobile-width: #{constants.$mobile-width};
}

html,
body {
	overflow-x: hidden;
}

body {
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #000;
	color: #fff;
	font-size: constants.$font-p-lg;

	@media (max-width: constants.$mobile-width) {
		font-size: constants.$font-p-sm;
	}
}

img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

a,
button {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	border: none;
	text-decoration: none;
	background: none;
}

button.primary-button {
	background-color: rgb(195, 2, 2);
	padding: 1vw 1vw;

	@media (max-width: constants.$mobile-width) {
		padding: 2vw 3vw;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	font-size: constants.$font-h1-lg;

	@media (max-width: constants.$mobile-width) {
		font-size: constants.$font-h1-sm;
	}
}

h2 {
	font-size: constants.$font-h2-lg;

	@media (max-width: constants.$mobile-width) {
		font-size: constants.$font-h2-sm;
	}
}

h3 {
	font-size: constants.$font-h3-lg;

	@media (max-width: constants.$mobile-width) {
		font-size: constants.$font-h3-sm;
	}
}

h4 {
	font-size: constants.$font-h4-lg;

	@media (max-width: constants.$mobile-width) {
		font-size: constants.$font-h4-sm;
	}
}

h5 {
	font-size: constants.$font-h5-lg;

	@media (max-width: constants.$mobile-width) {
		font-size: constants.$font-h5-sm;
	}
}

h6 {
	font-size: constants.$font-h6-lg;

	@media (max-width: constants.$mobile-width) {
		font-size: constants.$font-h6-sm;
	}
}

ul,
ol {
	list-style: none;
}

section {
	background: transparent;
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.background-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: difference;
}

.container {
	padding-left: var(--container-padding-x);
	padding-right: var(--container-padding-x);
	max-width: var(--container-max-width);
	margin-left: auto;
	margin-right: auto;
}

.WOLFAME {
	display: inline-block;
	// animation: shake 2s ease infinite;

	&::before {
		content: "WOL";
		animation: before-anim 2s ease infinite;
	}

	&::after {
		content: "FAME";
		animation: after-anim 2s ease infinite;
	}

	@keyframes before-anim {
		0% {
			color: #fff;
		}
		4% {
			color: red;
			text-shadow: $WOLFAME-shadow;
		}
		8% {
			color: #fff;
		}
		12% {
			color: red;
			text-shadow: $WOLFAME-shadow;
		}
	}

	@keyframes after-anim {
		2% {
			color: #fff;
		}
		6% {
			color: red;
			text-shadow: $WOLFAME-shadow;
		}
		10% {
			color: #fff;
		}
		20% {
			color: red;
			text-shadow: $WOLFAME-shadow;
		}
	}

	@keyframes shake {
		2% {
			transform: rotate($WOLFAME-rotation) scale($WOLFAME-scale);
		}
		4% {
			transform: rotate(-#{$WOLFAME-rotation}) scale($WOLFAME-scale);
		}
		8% {
			transform: rotate($WOLFAME-rotation) scale($WOLFAME-scale);
		}
		10% {
			transform: rotate(-#{$WOLFAME-rotation}) scale($WOLFAME-scale);
		}
		12% {
			transform: rotate($WOLFAME-rotation) scale($WOLFAME-scale);
		}
		14% {
			transform: rotate(0) scale($WOLFAME-scale);
		}
	}
}

.bg-gradient {
	background-image: radial-gradient(
		60% 55% at 50% 50%,
		var(--clr-bg) 20%,
		var(--clr-bg-3) 75%,
		#000
	);
}

.title-bg {
	@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10;
	width: 40vw;
	overflow: hidden;

	@media (max-width: constants.$mobile-width) {
		width: 100vw;
		height: 100vh;
		overflow: visible;
	}
}
