@import "../../constants.scss";

.events-page {
	.hero-section {
		background-image: url(../../assets/events-page/hero-bg.jpg);

		.hero-title {
			font-size: 8vw;
			color: red;
			-webkit-text-stroke: 3px var(--clr-text-stroke);

			@media (max-width: $mobile-width) {
				-webkit-text-stroke-width: 2px;
				font-size: 16vw;
			}
		}
	}

	.events-section {
		box-shadow: 0 0 70px 100px black;

		.event-card {
			// background: radial-gradient(var(--clr-bg), var(--clr-bg-3));
			background: var(--clr-bg);
			padding: 30px 50px;

			h2 {
				font-size: 3vw;
			}

			ul {
				list-style-type: disc;
				font-size: 1.3vw;
			}
		}
	}
}
