@use "../../utils/constants";

.events-page {
	.hero-section {
		background-image: url(../../assets/events-page/hero-bg.jpg);

		.hero-title {
			color: red;
			-webkit-text-stroke: 3px var(--clr-text-stroke);

			@media (max-width: constants.$mobile-width) {
				-webkit-text-stroke-width: 2px;
			}
		}
	}

	header {
		.title-bg {
			z-index: 0;
		}
	}

	.events-section {
		box-shadow: 0 0 70px 100px black;

		.wrapper {
			background: linear-gradient(
				to bottom,
				black,
				var(--clr-bg) 10%,
				95%,
				black
			);
		}

		.event-card {
			background: var(--clr-bg);
			padding: 30px 50px;
			min-height: 600px;
			position: relative;
			border-radius: 10px;
			overflow: hidden;

			@media (max-width: constants.$mobile-width) {
				padding: 30px 40px;
			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				z-index: 1;
				background: rgba(0, 0, 0, 0.402);
			}

			.content {
				position: relative;
				z-index: 2;
			}

			ul {
				list-style-type: disc;
				font-weight: 500;
			}
		}
	}
}
